
 




    <img src="../../assets/solelyartmy.jpg" />
  


<ion-content>
  <p><ion-button expand="block" 
    routerLink="/signup"
    share="round" 
    class="submit-btn" 
    type="submit" 
    shape="round" 
    fill="clear"
    color="dark">Artist</ion-button></p>

    <p><ion-button expand="block" 
      routerLink="/login"
      share="round" 
      class="submit-btn" 
      type="submit" 
      shape="round" 
      fill="clear"
      color="dark">Vendor</ion-button></p>

      
</ion-content>
