ion-menu {
    --width: 50%;
   

  }

  
  .main-list {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    ion-list {
      width: 100%;
  
      ion-item {
        font-size: 18px;
        font-weight: 100;
      }
  
      .selected {
        border-left: 5px solid var(--ion-color-dark);
        color: var(--ion-color-dark);
      }
    }
  
    ion-button {
      position: absolute;
      bottom: 10%;
      right: 10%;
      font-size: 24px;
      --ripple-color: transparent;
    }
  }