<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="feed">
      <ion-icon name="image"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="bag-check"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

  
  </ion-tab-bar>

</ion-tabs>