<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start" routerLink="/home/feed">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img src="../../assets/solelyartmy.jpg" />

  <ion-label><p>
  Solelyartmy is an art online shop was founded in 2020 by Lily Studio whom is run by Noraliya Farisha. 
  </p></ion-label>&nbsp;

<ion-label><p>
  Like any other art shop, solelyartmy do a service for portrait illustration and producing stickers that are used for journaling goods for kids, family, person who enthusiast in journaling and also for business owner. 
  </p></ion-label>&nbsp;

  <ion-label><p>
  The stickers are matte surfaces where people can write on them. Solelyartmy also takes orders as if people want to design their own logo, shop details and make it as stickers with a cheap and affordable price for shops who just  start-up a business. 
</p></ion-label>&nbsp;

<ion-label><p>
  Behind the name of solelyartmy, ‘SOLELY ART’ means only produce art stuff in the shop and the reason to choose ‘SOLELY’ is because it has ‘LY’ in it which is the nickname of Noraliya (Aly/Lily), meanwhile ‘MY’ is stand for ‘Malaysia’. 
  </p></ion-label>&nbsp;
  
  
  <ion-label><p>
  The creative and digital designer of solelyartmy is Noraliya Farisha who’s the one who draws all the stickers' design, does the portrait illustrations and marketing. 
</p>
</ion-label>
</ion-content>
