<ion-header>
  <ion-toolbar>
    <ion-title>Digital Art</ion-title>
    <ion-buttons slot="start" routerLink="/home/feed">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  

</ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src='../../assets/art3.jpeg'>
  </ion-card>
  
  <ion-card>
    <img src='../../assets/art1.png'>
  </ion-card>
  
  <ion-card>
    <img src='../../assets/art5.jpeg'>
  </ion-card>
  
  <ion-card>
    <img src='../../assets/art4.jpeg'>
  </ion-card>
  
  <ion-card>
    <img src='../../assets/art2.jpeg'>
  </ion-card>

</ion-content>