<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
    <ion-buttons slot="start" routerLink="/home/feed">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-item>
 <p> <ion-icon name="logo-twitter"></ion-icon>
  </p>

  <p>&nbsp; <ion-icon name="logo-instagram"></ion-icon>
 </p>

<p>&nbsp; <ion-icon name="logo-google"></ion-icon>
  </p>
  <p>&nbsp; solelyartmy</p>
  </ion-item>
</ion-content>
