<ion-header>
	<ion-toolbar>
	  <ion-title>Timeline</ion-title>
	  <ion-buttons slot="start" routerLink="/feed-admin">
		<ion-button color="dark">
		  <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
		</ion-button>
	  </ion-buttons>
	</ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
	 <form [formGroup]="feed">
	  
	  <ion-item>
		<ion-label position="stacked">Caption</ion-label>
		<ion-input formControlName="caption"></ion-input>
	  </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
      </ion-item>

	 <ion-item>
	  <div class="image-container">
		<ion-image *ngIf="imagePath" class="image-preview">
		  <ion-img [src]="imagePath"> </ion-img>
		</ion-image>
	</div>
</ion-item>
 
	<div><ion-button (click)="takePicture()" expand="block" size="small" share="round" shape="round" color="dark">Upload Picture</ion-button> 
	</div>

	  <div class="gradient-btn">
		<ion-button shape="round" expand="block" share="round" color="dark" (click)="addFeed()">Post To Feed</ion-button>
	  </div>
	 
	</form>
  </ion-content>