<ion-header>
  <ion-toolbar>
    <ion-title>Anime</ion-title>
    <ion-buttons slot="start" routerLink="/home/feed">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  

</ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src='../../assets/anime3.jpg'>
  </ion-card>
  
  <ion-card>
    <img src='../../assets/anime2.jpg'>
  </ion-card>
  
  <ion-card>
    <img src='../../assets/anime1.jpg'>
  </ion-card>
  
  <ion-card>
    <img src='../../assets/anime4.png'>
  </ion-card>
  
  <ion-card>
    <img src='../../assets/anime5.jpg'>
  </ion-card>

</ion-content>