<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start" routerLink="/home/feed">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="dark">
    <p> FREQUENTLY ASK QUESTION </p>
  </ion-text>


  <ion-item>
  <h1> <ion-label position="stacked">How many days will I receive my order?</ion-label> </h1>
 <h3>  Between 2-5 days </h3>
  </ion-item>

  <ion-item>
 <h1>   <ion-label position="stacked">Can I cancel my order?</ion-label> </h1>
 <h3>Please inform 1 day after payment and email us at solelyartmy@gmail.com</h3>
  </ion-item>

  <ion-item>
    <h1>   <ion-label position="stacked">What courier do you use?</ion-label> </h1>
    <h3>ABX and CityLink</h3>
     </ion-item>
</ion-content>
